.paired {
    display: flex;
    flex-direction: row;
    margin: 7% 5%;

    >div {
        margin-left: 5%;
    }

    h1 {
        text-align: right;
        width: fit-content;
        white-space: nowrap;
    }

    p {
        line-height: 1;
        @extend %roboto-bold;
        text-align: justify;
    }
}

.idea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    p {
        @extend %roboto-bold;
        margin: 3% 0;
    }

    .pic {
        margin-left: 5%;
        margin-right: 5%;
    }

    .box {
        width: 60%;
        margin-bottom: 3%;

        h3 {
            @extend %roboto-bold;
        }
    }

    .picbox {
        display: flex;
    }
}

.some-text {
    margin: 0 5%;

    .--bold {
        font-weight: bold;
    }

    p {
        margin-bottom: 5%;
    }
}

.why {
    margin: 3%;
    display: flex;
    flex-direction: column;

    h3 {
        align-self: center;
    }

    .picbox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .box {
            width: 30%;
            margin-top: 3%;
            margin-left: 2%;

            .heading {
                text-align: center;
            }

            p {
                margin-top: 10px;
            }


        }
    }
}



@include laptop {
    .idea {

        p {
            font-size: $font-plain-text-laptop;
        }

        .box {
            h3 {
                font-size: $font-under-logo-laptop;
            }
        }
    }

    .why {
        h3 {
            font-size: $font-under-logo-laptop;
        }
    }
}


@include mobile {
    .paired {
        flex-direction: column;

        h1 {
            text-align: center;
            text-wrap: wrap;
            margin-bottom: 10%;

            br {
                display: none;
            }
        }
    }

    .idea {

        p {
            font-size: $font-plain-text-mobile;
        }

        .picbox {
            margin: 10% 0;
            flex-direction: column;

            .pic {
                text-align: center;

                img {
                    width: 200px;
                }
            }
        }

        .picbox--reverse {
            flex-direction: column-reverse;
        }

        .box {
            width: 90%;
            padding: 10% 7%;

            h3 {
                font-size: $font-under-logo-mobile;
                margin-bottom: 7%;
            }


        }
    }

    .why {

        p {
            font-size: $font-plain-text-mobile;
        }

        h3 {
            font-size: $font-under-logo-mobile;
            margin: 5%;
        }

        .picbox {
            flex-direction: column;

            .box {
                width: 90%;
                height: 270px;

                .heading {
                    font-size: $font-bold-subtitile-mobile;
                    margin: 5%;
                }
            }
        }
    }

}

@include tablet {
    .idea {

        p {
            font-size: $font-plain-text-tablet;
        }

        .box {
            h3 {
                font-size: $font-under-logo-mobile;
            }
        }
    }
}