.paired {
    display: flex;
    flex-direction: row;
}

.paired>div {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 5%;
}

.paired h1 {
    text-align: right;
    width: fit-content;
    white-space: nowrap;
}

.paired h2 {
    line-height: 1;
    font-size: 24px;
}

.idea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.idea p,
.some-text p,
.some-text spin,
.box p {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    line-height: 1;

}

.idea .pic {
    margin-left: 5%;
    margin-right: 5%;
}

.idea .box {
    width: 70%;
    margin-bottom: 5%;
    margin-top: 0;
    background-color: white;
    box-shadow: var(--shadow-2);

}

.idea .picbox {
    display: flex;
}


.some-text {
    margin-left: 10%;
    margin-right: 10%;
}

.color-grey {
    color: var(--grey-100);
}

.color-grey span {
    color: var(--blue-main);
}


.why {
    margin-top: 10%;
}

.why h1 {
    margin-bottom: 10%;
}

.why .picbox {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.box {
    height: 392px;
    margin-bottom: 5%;
    margin-top: 0;
    background-color: white;
    box-shadow: var(--shadow-2);
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.box .heading {
    text-align: center;
    color: var(--grey-100);
}

.box .plaintext {
    margin-top: auto;
    margin-bottom: auto;
}