* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    color: $grey-dark;
    background-color: $grey-bg;
    @extend %roboto-medium;
}

.linearbg {
    background: linear-gradient($grey-bg,
            $blue-light,
            $grey-bg);
}

.box {
    border-radius: 30px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 3%;

    p {
        font-family: $FranklinMedium-font;
    }

    span {
        margin-bottom: 2%;
        color: $grey-another-dark;
    }

    hr {
        border-top: 2px dashed $grey-light;
        width: 100%;
        padding: 0;
        margin: 5% 0;
    }
}


.active-link {
    color: $blue-dark;
    border-bottom: 2px solid $blue-dark;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-top: 2px dashed $grey-light;
    width: 90%;
    margin: 5%;

}

.lialoom {
    color: $blue-dark;
}

h1,
h2,
h3 {
    line-height: 1;
    @extend %roboto-bold;
}

button {
    background-color: $blue-dark;
    border: 1px transparent solid;
    color: white;
    padding: 5px 10px;
    @extend %roboto-bold;

    &:hover {
        cursor: pointer;
        background-color: white;
        border: 3px $blue-dark solid;
        color: $blue-dark;
    }
}

.page-header {
    text-align: center;
    padding: 5% 0;

    font-family: $FranklinMedium-font;
}




@include laptop {
    body {
        font-size: $font-plain-text-laptop;
        line-height: 1;
    }

    button {
        height: 60px;
        width: 300px;
        font-size: $font-button-laptop;
        border-radius: 30px;
    }

    .page-header {
        font-size: $font-h1-laptop;
    }

    .box {

        p {
            font-size: $font-bold-subtitile-laptop;
        }

        span {
            font-size: $font-plain-text-laptop;
        }
    }


}


@include mobile {
    body {
        font-size: $font-plain-text-mobile;
        line-height: 1;
    }

    button {
        text-align: center;
        height: 40px;
        width: 90%;
        font-size: #{$font-button-mobile + 1.5};
        border-radius: 20px;
    }

    .page-header {
        font-size: $font-h1-mobile;
    }

    .box {

        p {
            font-size: $font-bold-subtitile-mobile;
        }

        span {
            font-size: $font-plain-text-mobile;
        }


    }
}

@include tablet {
    body {
        font-size: $font-plain-text-mobile;
        line-height: 1;
    }

    button {
        text-align: center;
        height: 40px;
        width: 150px;
        font-size: $font-button-mobile;
        border-radius: 20px;
    }

    .page-header {
        font-size: $font-h1-tablet;
    }

    .box {

        p {
            font-size: $font-bold-subtitile-tablet;
        }

        span {
            font-size: $font-plain-text-tablet;

        }
    }

}