$content-width: 1250px;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_m: 767px;
$breakpoint_s: 576px;


$font-logo-mobile: 48px;
$font-logo-laptop: 128px;
$font-logo-tablet: 70px;

$font-under-logo-laptop: 32px;
$font-under-logo-tablet: 17px;
$font-under-logo-mobile: 25px;

$font-h1-mobile: 35px;
$font-h1-laptop: 54px;
$font-h1-tablet: 36px;

$font-bold-subtitile-mobile: 20px;
$font-bold-subtitile-laptop: 24px;
$font-bold-subtitile-tablet: 22px;

$font-bold-plain-text-mobile: 24px;

$font-plain-text-mobile: 17px;
$font-plain-text-laptop: 20px;
$font-plain-text-tablet: 17px;

$font-button-mobile: 16px;
$font-button-laptop: 24px;
$font-button-tablet: 20px;


$FranklinBook-font: 'Franklin Gothic Book', sans-serif;
$FranklinMedium-font: 'Franklin Gothic Medium', sans-serif;

$grey-dark: #383838;
$grey-light: #A4A4A4;
$grey-middle: #9B9B9B;
$grey-bg: #F5F5F5;

$blue-dark: #0040C5;
$blue-light: #B4D6F1;

$blue-another: #49D6DE;
$grey-another-dark: #5E584E;
$orange-another: #DE9E49;
$purple-another: #4978DE;